/******************* font-family: 'Overpass', sans-serif; *************/
/******************* font-family: 'Ubuntu', sans-serif;   ************/
/******************* padding space :padding: 5rem 6.8rem; */


.header {
    display: flex;
    justify-self: center;
    align-items: center;
    /* Because we want header to be sticky later */
    padding: 5rem 6.8rem;
  }

  .hero {
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color: hsl(355, 100%, 74%);
    height: 40rem;
    border-bottom-left-radius: 36px;
  }

    /**************************/
    /* LOGO */
    /**************************/

    .logo {
        height: 2rem;
        padding-right: 5rem;
  }

    /**************************/
    /* NAV */
    /**************************/


  nav {
    display: flex;
    gap: 4rem;
  }

  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 3rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: hsl(0, 0%, 100%);
    text-decoration-style: solid hsl(0, 0%, 100%);
    text-decoration-line: underline;
  }
  
  .nav-need {
    padding-left: 75rem;
  }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 2.4rem;
  border-radius: 16px;
  color: hsl(356, 100%, 66%);
  background-color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: hsl(355, 100%, 74%);
  color: #fff;
  text-decoration: none;
  padding-bottom: 8px;
  padding-top: 9.333px;
}
  
.main-nav-link.nav-need:hover,
.main-nav-link.nav-need:active {
  text-decoration: none;  

}

  /* MOBILE */



  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
  
    display: none;
  }
  
  .icon-mobile-nav {
    height: 3rem;
    width: 3rem;
    color: #fff;
    margin-top: 4rem;
    margin-left: 42rem;
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }


  .nav-icon {
    height: 1rem;
  }

    /**************************/
    /* HERO */
    /**************************/

.hero-zwei {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}

.hero-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.hero-zwei h1 {
  font-size: 6rem;
  letter-spacing: .1px;
  color: #fff;
  font-family: 'Overpass', sans-serif;
}

.hero-zwei h3 {
  font-size: 1.2rem;
  font-family: 'Overpass', sans-serif;
  color: #fff;
  margin-top: 1.2rem;
}

.main-nav-link.nav-cta.hero-list-zwei:link,
.main-nav-link.nav-cta.hero-list-zwei:visited {
  background-color: transparent;
  border: solid white;
  color: white;
}

.main-nav-link.nav-cta.hero-list-zwei:hover,
.main-nav-link.nav-cta.hero-list-zwei:active {
  background-color: #fff;
  color:  hsl(355, 100%, 74%);
  text-decoration: none;
}

/****************
DESIGNED FOR THE FUTURE ******/

.designed {
  padding: 5rem 6.8rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.designed h1 {
  text-align: center;
  margin-bottom: 10rem;
  font-family: 'Overpass', sans-serif; 
  font-size: 2rem;
  color:hsl(208, 49%, 24%);
}

.designed-ein h2 {
  margin-top: 4.2rem;
  margin-bottom: 2rem;
  font-family: 'Overpass', sans-serif; 
  font-size: 1.6rem;
  color:hsl(208, 49%, 24%);
}

.designed-ein p {
  margin-bottom: 2rem;
  color: hsl(207, 13%, 34%);
  line-height: 1.6;
  font-size: 1.4rem;
  width: 90%;
  font-family: 'Ubuntu', sans-serif; 
  word-spacing: 1.2;
}

.designed-zwei img {
  width: 70rem;
  height: 70rem;
  margin-top: -15rem;
}

/******** State of the Art Infrastructure ***/

.state {
  padding: 5rem 6.8rem;
  background: url(images/bg-pattern-circles.svg);
  background-size: cover;
  background-color: hsl(237, 17%, 21%); 
  height: 34rem;
  border-bottom-left-radius: 36px;
  border-top-right-radius: 36px;

}

.phones img {
position: relative;
height: 48rem;
bottom: 23%;
}

.state-exc {
  margin-top: 6rem;
  margin-left: -20rem;
}

.state-exc h2 {
font-size: 4rem;
font-family: 'Overpass', sans-serif; 
letter-spacing: .6;
color: #fff;
font-weight: 600;
margin-bottom: 2rem;
}

.state-exc p {
  font-size: 1.6rem;
  font-family: 'Overpass', sans-serif; 
  width: 60%;
 line-height: 1.6;
 color: #fff;
}

/************* Free, open, simple *******/

.free-open {
  margin-top: 10rem;
}

.free-img img {
  width: 60rem;

}

.free-img {
  margin-left: -17rem;
}

.free-exc {
  margin-left: -20rem;
  margin-top: 13.4rem;
  font-family: 'Ubuntu', sans-serif;
}

.free-exc h2 {
  font-family: 'Overpass', sans-serif; 
  font-size: 1.6rem;
  color:hsl(208, 49%, 24%);
  margin-bottom: 2rem;
}

.free-exc p {
  color: hsl(207, 13%, 34%);
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 60%;
}

/*****************
****** FOOTER *****
***************/

footer {
  background-color: hsl(240, 10%, 16%);
  height: 24rem;
  border-top-right-radius: 36px; 
}

.ftr {
  gap: 0rem; 
}

.logs {
  padding: 3rem 6.8rem; 
}

.product {
  margin-left: -10rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.product h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  margin-bottom: 2rem;
}

.footer-link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: hsl(240, 2%, 79%);
  text-decoration-style: solid hsl(0, 0%, 100%);
  text-decoration-line: underline;
}